* {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./img/background/towel.png");
  background-size: 100%;
}

/* -------------------------------------------- font dans formulair */
/* style font pour premier titre dans formuler */
.titre h1 {
  font-family: "Montserrat", sans-serif;
}

/* style font pour saus titre dans formuler */
.titre p {
  font-family: "Montserrat", sans-serif;
  padding-top: 5px;
}

/* style font pour label dans formuler */
.inputFormuer ol li label {
  font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------- style globale formulair */
/* div principale de formuler */
.formuler {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* balis formuler */
.formuler form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* div pour titr et saus titre */
.titre {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: aliceblue;
}

/* balis input qui contier les list et dans list on a les labels et inputes */
.formuler .inputFormuer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  color: aliceblue;
}
/* input style formulair */
.inputFormuer ol li input {
  border: solid 1px #dbdbdb;
  padding: 5px;
  width: 730px;
  max-width: 730px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 1px #b6b6b61a, 0 0 0 1px #b4b4b4,
    0.1em 0.1em 1em #cacaca4d;
}

/* balis li pour formuler */
.inputFormuer li {
  list-style: none;
  margin: 10px;
}

/* etoil dans label qui est dans formulair */
ol .required {
  color: red;
}

/* balise commenter dans formulair */
.inputFormuer ol li textarea {
  padding: 5px;
  border: solid 1px #c4c4c4;
  box-shadow: inset 0 1px 1px #b6b6b61a, 0 0 0 1px #b4b4b4,
    0.1em 0.1em 1em #cacaca4d;
  width: 730px;
}

/* style button qui est dans formulair */

.button {
  border: solid 1px #707070;
  border-radius: 5px;
  padding: 10px;
  width: 746px;
  max-width: 746px;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background-color: #4a534c;
}

::placeholder {
  color: #8f8f8f;
}

/* version iPad */
@media screen and (max-width: 768px) {
  /* div principale de formuler */
  .formuler {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* balis formuler */
  .formuler form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* div pour titr et saus titre */
  .titre {
    width: 60%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: aliceblue;
  }

  /* balis input qui contier les list et dans list on a les labels et inputes */
  .formuler .inputFormuer {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: aliceblue;
  }
  /* input style formulair */
  .inputFormuer ol li input {
    border: solid 1px #dbdbdb;
    width: 613px;
    max-width: 613px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px #b6b6b61a, 0 0 0 1px #b4b4b4,
      0.1em 0.1em 1em #cacaca4d;
  }

  /* balis li pour formuler */
  .inputFormuer li {
    list-style: none;
    margin: 10px;
  }

  /* etoil dans label qui est dans formulair */
  ol .required {
    color: red;
  }

  /* balise commenter dans formulair */
  .inputFormuer ol li textarea {
    padding: 5px;
    border: solid 1px #c4c4c4;
    box-shadow: inset 0 1px 1px #b6b6b61a, 0 0 0 1px #b4b4b4,
      0.1em 0.1em 1em #cacaca4d;
    width: 613px;
    max-width: 613px;
  }

  /* style button qui est dans formulair */

  .button {
    border: solid 1px #707070;
    border-radius: 5px;
    padding: 10px;
    width: 630px;
    max-width: 628px;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    background-color: #4a534c;
  }

  ::placeholder {
    color: #8f8f8f;
  }
}

/* version téléphon */
@media screen and (max-width: 380px) {
  body {
    background-color: red;
  }
}
