body{
text-align:center;
font-family:Georgia, 'Times New Roman', Times, serif;
color : white;


}

.container{
display: flex;
width: 30px;
align-content: center;
font-size: large;
}


.table{
color: white;
border : solid 1px;
width:70%;
margin: 2% 15%;
font-family:'Times New Roman', Times, serif



}

